body{
    height: 3000px;
    background-color: #000000;
    font-family: Roboto, Arial;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-right: 400px;
    padding-left: 400px;
    background-color: #000000;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.links a{
    text-decoration: none;
    color: white;
    margin-left: 70px;
    transition: color 0.15s;
}
.links a:hover{
    color: #0084ff;
}
.coder{
    color: white;
}
.coder-e{
    color: #0084ff;
}
